{% extends "base.html" %}

{% block content %}

<div class="flex overflow-x-auto snap-mandatory hover:snap-x w-full bg-cover bg-center snap-none hide-scrollbar ">
    <div id="your-element-selector"  class=" snap-always snap-center flex-shrink-0 flex items-center justify-center w-full h-screen ">
        <h1 data-aos="fade-up" data-aos-duration="2000" class="text-xl ">About Us</h1>
        
        
    </div>
    <!-- Each child div snaps to the center of the scroll container on scroll -->
    <div class="snap-always snap-center flex-shrink-0 flex items-center justify-center w-full h-full h-screen bg-cover bg-center"  style="background-image: url(https://images.pexels.com/photos/4887152/pexels-photo-4887152.jpeg)">
      
    </div>
    
</div>

{% endblock  %}